@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--font-montserrat);
  }

  h1 {
    font-size: 1.2rem;
    font-family: var(--font-josefin-sans);
    font-weight: 700;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-archivo-black);
  }

  body {
    color: colors.gray;
    max-width: 80rem;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto !important;
  }

  header {
    flex: 1;
  }

  nav {
    font-weight: 600;
    background: theme(colors.primary.400);
    color: theme(colors.secondary.600);
  }

  @media screen(sm) {
    /* ... */
  }
}
