@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--font-montserrat);
  }

  h1 {
    font-size: 1.2rem;
    font-family: var(--font-josefin-sans);
    font-weight: 600;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-archivo-black);
  }

  body {
    color: colors.gray;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto !important;
  }

  header {
    flex: 1;
    background-color: theme(colors.white);
  }

  nav {
    font-weight: 600;
    background: theme(colors.primary.700);
    color: theme(colors.white);
  }

  .animation-pulse {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    transform: scale(1);
    animation: pulse 1.1s infinite;
  }

  .animation-pulse:hover {
    animation: pulse-hover 1.1s infinite;
  }

  .link-effect:hover {
    transform: scale(1.2);
  }

  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }

  @keyframes pulse-hover {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }

    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }

  iframe {
    max-width: 100%;
    height: auto;
  }

  @media screen(sm) {
    /* ... */
  }
}
